.cart{
    
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    /* align-items: center; */
    justify-content: center;
    margin: 5px;
    margin-top: 20px;
}
.btn :hover{
    cursor: pointer;
    color: #000000;
}